<h1>Fountain Job Board</h1>
<p>
  <%= link_to 'Sign up as applicant', new_applicant_registration_path %>
  <%= link_to 'Log in as applicant', new_applicant_session_path %>
</p>
<p>
  <%= link_to 'Sign up as employer', new_employer_registration_path %>
  <%= link_to 'Log in as employer', new_employer_session_path %>
</p>
